.Footer{
    height: 200px;
    background-color: #FAFAFA;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
}

.FooterTop{
    margin-left: 12.5%;
    display: flex;
}

.FooterTop li{
    display:inline;
    padding-left: 1rem;
}
