.Header{
    background-color: #2D2641;
    height: 600px;
    display: flex;
}

.Header h1{
    color: #FFFFFF;
    font-size: 72px;
    font-family: Karla, serif;
}
.Header p{
    color: #FFFFFF;
    font-size: 16px;
}
.Header li{
    color: #FFFFFF;
    list-style-type: none;
}

.HeaderMainText{
    padding-left: 165px;
    padding-top: 200px;
    width: 50%;
}

.HeaderImg{
    padding-left: 100px;
    padding-top: 100px;
}

