.OurCustomers{
    height: 250px;
    width: 75%;
    background-color: #2D2641;
    margin-left: 12.5%;
    margin-top: 100px;
    display: flex;
}

.OurCustomers h1{
    font-family: 'DM Serif Display', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 56px;
    /* or 100% */

    letter-spacing: -0.777778px;

    color: #FFFFFF;
}

.logos p{
    color: #FFFFFF;
}
