.OurProduce{
    padding-top: 200px;
    padding-left: 12.5%;
    padding-right: 12.5%;
}
.OurProduce H1{
    font-size: 72px;
    font-family: DM Serif Display, serif
}
hr{
    width: 30%;
}

.OurProduceSection{
    display: flex;
}
