.OurProduce{
     display:flex;
    flex-direction:column;
    gap: 30px;
    align-items: center;
    justify-content: center;
}
.Fresh{
    background-color: #E5EFD1;
    padding: 10px;
    width: 75vw;
    border-radius: 25px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
    box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
}

.Processed{
    background-color:#6EA4FC;
    padding: 10px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
    box-shadow: 10px 10px 5px 0px rgba(242,244,245,1);
    width: 75vw;
    border-radius: 25px;

}
