
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(182.5004105643768deg, rgba(228, 239, 255,1) 1.9156883671291356%,rgba(255, 255, 255,1) 50.79509071504802%);
  padding: 30px;
  gap: 30px;
}
ul{
  list-style-type: none;
}
.navbar li{
  display:inline;
  padding: 20px;
}
.navbar {
  list-style-type: none;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  Padding-bottom:30px;
}
.Header{
  display:flex;
  background-color:#E5EFD1;
  height: 60vh;
  clip-path: polygon(0 0, 100% 0, 100% 30vh, 0 100%);
}
.ContactSection{
  display:flex;
  padding-top: 20px;

}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 40px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
.btn:active{
  transform: translateY(-1px);
}
.btn-white{
  background-color: #1DA1F2;
  color: #F4F7FF;
}

.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  transition: all .4s;
}
.btn-white::after{
  background-color: #1DA1F2;
}
.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn-animated{
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.FruitGrid{
  padding: 10px;
}

.FruitGrid img{
  padding: 20px;
}
.HeaderMainText p{
  padding: 10px;
}



