.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(182.5004105643768deg, rgba(228, 239, 255,1) 1.9156883671291356%,rgba(255, 255, 255,1) 50.79509071504802%);
}


